# --- NodeForge Sentinel Environment ---
BAMBU_DEVICE_ID=00M09A322500616
PRINTER_LOCAL_IP=192.168.178.192
PRINTER_ACCESS_CODE=0d750d5c
USE_LOCAL_MQTT=False
MOCK_MODE=False
BAMBU_TOKEN=
BAMBU_REFRESH_TOKEN=
BAMBU_ORG_ID=
BAMBU_UID=
BAMBU_CLOUD_HOST=eu.mqtt.bambulab.com
ESP32_IP=10.254.244.107
